<section class="home">
  <address-form @setGeolocation="setGeolocation" />

  <template>
    <v-row align="center">
      <v-col class="text-center" cols="12" sm="4">
        <div class="my-2">
          <weather-card :weatherConditions="currentWeather" v-if="currentWeather" :showCurrentDateHour="true"
            id="current-weather" />
        </div>
      </v-col>
    </v-row>
  </template>

  <template>
    <v-row align="center" v-for="(weatherCondition, index) in weatherConditions" :key="'weatherCondition'+index">
      <v-col class="text-center" cols="12">
        <div class="my-2">
          <weather-card :weatherConditions="weatherCondition" v-if="currentWeather" />
        </div>
      </v-col>
    </v-row>
  </template>
</section>
