<section class="address-form">
  <v-row>
    <v-col cols="12" class="text-center" v-if="hasGeolocation">
      <v-btn color="primary" @click="searchLocation">
        <v-icon>location_searching</v-icon>
        Obter localização
      </v-btn>
    </v-col>
    <v-col cols="12" class="text-center">
      <template v-if="hasGeolocation">
        Ou preencha
      </template>
      <template v-else>
        Preencha
      </template>
      os campos:
    </v-col>
  </v-row>

  <v-form>
    <v-row no-gutters>
      <v-col :cols="isMobile ? '7' : '9'">
        <v-text-field v-model="street" label="Rua" maxlength="50" @keyup.enter="search" />
      </v-col>
      <v-col :cols="isMobile ? '5' : '3'">
        <v-text-field v-model="number" label="Número" v-mask="'#####'" @keyup.enter="search" />
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col :cols="isMobile ? '7' : '9'">
        <v-text-field v-model="neighborhood" label="Bairro" maxlength="50" @keyup.enter="search" />
      </v-col>
      <v-col :cols="isMobile ? '5' : '3'">
        <v-text-field v-model="cep" label="CEP" v-mask="'#####-###'" @keyup.enter="search" />
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col :cols="isMobile ? '7' : '9'">
        <v-text-field v-model="city" label="Cidade" maxlength="50" @keyup.enter="search" />
      </v-col>
      <v-col :cols="isMobile ? '5' : '3'">
        <select-search title="Estado" :maxLength="2" :minCharSearch="1" :items="stateAcronyms" @selectItem="selectState"
          :hasValidateItem="true" ref="select-state" />
      </v-col>
    </v-row>
  </v-form>

  <v-row>
    <v-col cols="6" class="text-right">
      <v-btn color="primary" @click="search" :disabled="!street && !number && !neighborhood && !cep && !city && !state">
        <v-icon>search</v-icon>
        Buscar
      </v-btn>
    </v-col>
    <v-col cols="6" class="text-left">
      <v-btn color="error" @click="clear">
        <v-icon>clear</v-icon>
        Limpar
      </v-btn>
    </v-col>
  </v-row>
</section>
