<section class="weather-card">
  <v-card class="mx-auto" max-width="400">
    <v-list-item two-line>
      <v-list-item-content>
        <v-list-item-title class="headline">{{formattedWeatherConditions.name}}</v-list-item-title>
        <v-list-item-subtitle>
          <template v-if="showCurrentDateHour">
            {{currentDateHour}}
          </template>
          <template v-else>
            {{formattedWeatherConditions.date}}
          </template>
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-card-text>
      <v-row align="center">
        <v-col class="display-2" cols="6">
          {{formattedWeatherConditions.temp}}&deg;C
        </v-col>
        <v-col cols="6">
          <v-img :src="formattedWeatherConditions.icon" :lazy-src="formattedWeatherConditions.icon">
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular indeterminate color="primary" />
              </v-row>
            </template>
          </v-img>
        </v-col>
      </v-row>
      <v-row align="center">
        <v-col class="display-1" cols="12">
          {{formattedWeatherConditions.description}}
        </v-col>
      </v-row>
    </v-card-text>

    <v-list-item>
      <v-list-item>
        Temperatura mínima
      </v-list-item>
      <v-list-item-subtitle>{{formattedWeatherConditions.tempMin}}&deg;C</v-list-item-subtitle>
    </v-list-item>

    <v-list-item>
      <v-list-item>
        Temperatura máxima
      </v-list-item>
      <v-list-item-subtitle>{{formattedWeatherConditions.tempMax}}&deg;C</v-list-item-subtitle>
    </v-list-item>

    <v-list-item>
      <v-list-item>
        Vento
      </v-list-item>
      <v-list-item-subtitle>{{formattedWeatherConditions.wind}} m/s</v-list-item-subtitle>
    </v-list-item>

    <v-list-item>
      <v-list-item>
        Pressão
      </v-list-item>
      <v-list-item-subtitle>{{formattedWeatherConditions.pressure}} hPa</v-list-item-subtitle>
    </v-list-item>

    <v-list-item>
      <v-list-item>
        Humidade
      </v-list-item>
      <v-list-item-subtitle>{{formattedWeatherConditions.humidity}}%</v-list-item-subtitle>
    </v-list-item>

    <v-list-item>
      <v-list-item>
        Nascer do sol
      </v-list-item>
      <v-list-item-subtitle>{{formattedWeatherConditions.sunrise}}h</v-list-item-subtitle>
    </v-list-item>

    <v-list-item>
      <v-list-item>
        Pôr do sol
      </v-list-item>
      <v-list-item-subtitle>{{formattedWeatherConditions.sunset}}h</v-list-item-subtitle>
    </v-list-item>
  </v-card>
</section>
